pipeline/pipelinevariable.json
{
	"name": "pipelinevariable",
	"properties": {
		"activities": [
			{
				"name": "Get Metadatafiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "get variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadatafiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_files",
					"value": {
						"value": "@activity('Get Metadatafiles').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var_files": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-25T06:25:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}